/* Enquire Tab*/

.tab-enquire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;


  & h2 {
    text-align: left;
  }

  & .action-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 1em;
    max-width: 46em;

    & a {
      -webkit-box-flex: 0;
          -ms-flex: 0 2 calc(50% - 0.5em);
              flex: 0 2 calc(50% - 0.5em);
      text-align: center;
      padding: 1em 0.5em;
    }
  }

  & .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 46em;

    & li {
      -webkit-box-flex: 0;
          -ms-flex: 0 2 calc(50% - 1em);
              flex: 0 2 calc(50% - 1em);
      padding: 0.5em 0;

      & .block-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        & .icon {
          color: white;
          position: relative;
          left: auto;
          margin-right: 0.75em;
          @include square(1.5em);
        }

      }

    }
  }

  & .desc-wrap,
  & .sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  & .dh-reveal-wrap {
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 1.5em;
      }

  }

}

@include mq(toddler) {

  // .tab-enquire .desc-wrap,
  // .tab-enquire .sidebar {
  //   -webkit-box-flex: 0;
  //       -ms-flex: 0 1 calc(50% - 0.5em);
  //           flex: 0 1 calc(50% - 0.5em);
  // }


  // .tab-enquire .sidebar {
  //   -ms-flex-item-align: stretch;
  //       -ms-grid-row-align: stretch;
  //       align-self: stretch;
  //   margin-top: 1.5em;
  // }

}

@media only screen and (min-width:650px){

  // .tab-enquire .desc-wrap {
  //   -webkit-box-flex: 0;
  //       -ms-flex: 0 1 calc(100% - 26em);
  //           flex: 0 1 calc(100% - 26em);
  //   margin-right: 1em;
  // }

  // .tab-enquire .sidebar {
  //   -webkit-box-flex: 0;
  //       -ms-flex: 0 1 25em;
  //           flex: 0 1 25em;
  // }

}


@include mq(momma) {

  .tab-enquire {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    & .contact-list {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(66.666% - 2em);
              flex: 0 1 calc(66.666% - 2em);
      margin-bottom: 1em;

      & li {
        margin: 0;
      }
    } 

    & .column-2-3 {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 66.666%;
              flex: 0 1 66.666%;
    }

    & .column-1-3 {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 33.333%;
              flex: 0 1 33.333%;

      &.action-box {
        margin-bottom: 1.5em;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -ms-flex-item-align: end;
            align-self: flex-end;
      }
    }

    & .enquire-intro {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
              flex: 0 1 100%;
    }

    & .desc-wrap {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(66.666% - 2em);
              flex: 0 1 calc(66.666% - 2em);
      margin-right: 0em;

      & .dh-reveal-wrap:last-child {
        margin-bottom: 0;
      }

    }

    & .sidebar {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 33.333%;
              flex: 0 1 33.333%;
    }




  }


}
