.tab-location {
  display: flex;
  flex-direction: column;

  & .column-full {
    flex: 1 1 100%;
    order: 1;
    
    & h2 {text-align: left;}

    &:first-child {
      border-bottom: double 3px $gray_ll;
      margin-bottom: 1.25em;
      padding-bottom: 1em;
    }

    &:last-child {
      border-top: double 3px $gray_ll;
      margin-top: 1em;
      padding-top: 1.25em;
      order: 5;
    }

  }

  & .area-intro {
    max-width: 60em;

    & *:last-child {margin-bottom: 0;}
  }

  & .column-1-2 {
    flex: 1 1 50%;
    order: 3;
  }

  & .map-wrap {
    font-size: 1.25em;
    line-height: 1.5em;
    order: 2;
  }

  & .column-1-3 {
    flex: 1 1 33.333%;
  }

  & .location-meta {
    display: flex;
    flex-direction: column;

    & h5 {
      margin-top: 0;
      border-bottom: solid 1px $brand2;
      padding-bottom: 0.15em;
    }

  }

}

.map-wrap h5 {
  
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-bottom: 0.75em;

  & .dh-svg {
    height: 1.25em;
    width: 1.25em;
    margin-right: 0.35em;
  }

}


.site-address {

  margin-bottom: 1em;

  & span {
    display: inline-block;

    &:after {
      content: ",";
      margin-right: 0.25em;
    }
    
    &:last-child:after {
      content: "";
      margin-right: none;
    }

    &.number:after {
      content: "";
      margin-right: 0.25em;
    }

  }

}

.target-distances .distance:before {
  content: "~";
  margin: 0 0.25em;
  color: $gray_m;

}

.area-meta-council ul {
  margin-left: 0;
  list-style: none;
}


@media only screen and (min-width:550px) {

  .tab-location .location-meta {
    flex-direction: row;
    flex-wrap: wrap;

    & .column-1-3 {
      padding: 0 1em;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }


}


@media only screen and (min-width:768px) {


  .tab-location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .column-full:first-child {
        border-bottom: double 3px #EEEEEE;
        margin-bottom: 2.25em;
        padding-bottom: 2em;
      }
  
    & .map-wrap {
      font-size: 1.05em;
      flex: 0 1 calc(50% - 2em);
      order: 3;
      margin-left: auto;
    }

    & .desc-wrap {
      padding-right: 2em;
    }

    & .column-full:last-child {
      margin-top: 2em;
      padding-top: 2.25em;
    }

  }
  
}

@media only screen and (min-width:768px) and (max-width:900px) {

  

}

@media only screen and (min-width:1300px) {

  .tab-location .area-intro {
    max-width: 70em;
  }

  
}