/* Reveal Styles*/

.dh-reveal-wrap {

  margin-bottom: 1.5em;

  & .reveal {
  background-image: -webkit-linear-gradient(top, $gray_m 0, $gray_d 100%);
  background-image: linear-gradient(-180deg, $gray_m 0, $gray_d 100%);
  @include trans;

    &:hover, 
    &:focus {
      background-image: -webkit-linear-gradient(top, $gray_l 0, $gray_m 50%, $gray_d 100%);
      background-image: linear-gradient(-180deg, $gray_l 0, $gray_m 50%, $gray_d 100%);
    }

    &:after {
      content: '';
      color: $text2;
      background: url($dh_darr) no-repeat 50%;
      @include square(0.7em);
      display: block;
      @include trans;
    }

    &.open {
      background-color: $gray_d;
      background-image: -webkit-linear-gradient(top, $gray_d 0, $gray_dd 100%);
      background-image: linear-gradient(-180deg, $gray_d 0, $gray_dd 100%);
    }

    &.open:after {
      @include rotate;
      -ms-flex-item-align: end;
          align-self: flex-end;
    }

  }

}



.dh-reveal-content {
  padding: 1.5em 1em 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px $gray_m;
  border-top-width: 0;

}