$text1: #444;
$text2: #777777;

$brand1: #6b1c56;

// Shades: http://www.color-hex.com/color/6b1c2e

$brand1_d1: #601929;
$brand1_d2: #551624;
$brand1_d3: #4a1320;
$brand1_d4: #40101b;
$brand1_d5: #350e17;
$brand1_l1: #6b1c2e;
$brand1_l2: #793242;
$brand1_l3: #884957;
$brand1_l4: #97606c;
$brand1_l5: #a67681;

$brand2: #c08802;


$gray_d: #999999;
$gray_m: #AAAAAA;
$gray_l: #CCCCCC;
$gray_ll:#EEEEEE;


$green_m: #74AF5E;


$fb_brand1: #3b5998;
$tw_brand1: #1da1f2;


$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$body: #F0F0F0;