$bear_baby: "(min-width:320px)";
$bear_lil_sis: "(min-width:480px)";
$bear_big_sis: "(min-width:568px)";
$bear_sisters: "(min-width:480px) and (max-width: 767px)";
$bear_momma: "(min-width:768px)";
$bear_pappa: "(min-width:1024px)";
$bear_grampa: "(min-width:1280px)";