dfn, cite, em, i {font-style: italic;}
blockquote {margin: 0 1.5em;}
address {margin: 0 0 1.5em;}
abbr, acronym {border-bottom: 1px dotted $text2;cursor: help;}
mark, ins {background: #FFFCCC; text-decoration: none;}