

@-webkit-keyframes gambole {
  0% {
    -webkit-transform: rotateX(90deg) translateY(-150%);
            transform: rotateX(90deg) translateY(-150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0%);
            transform: rotateX(0deg) translateY(0%);
    opacity: 1;
  }
}


@keyframes gambole {
  0% {
    -webkit-transform: rotateX(90deg) translateY(-150%);
            transform: rotateX(90deg) translateY(-150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateY(0%);
            transform: rotateX(0deg) translateY(0%);
    opacity: 1;
  }
}


@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}


@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}


.button:hover, 
.grow:hover,
.button:focus, 
.grow:focus {

  -webkit-transform: scale(1.0225,1.0225);

          transform: scale(1.0225,1.0225);
  box-shadow: 0 2em 2em rgba(0, 0, 0, 0.1);

}


.button:active, 
.grow:active {
  -webkit-transform: scale(1.01,1.01);
          transform: scale(1.01,1.01);
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);
}
