/* --- Damson Homes Template-Site Critical CSS --- */
@import "sass/-variables/variables-site";
@import "sass/-mixins/mixins-master";
@import "sass/critical/crit_hero_banner_default";



.ftr-nav-area {
  background-color: $brand2;
}

.ftr-nav-area .tabgroup {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  & .tabs {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  & li {
    padding: 0; 
    margin: 0; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
  }
  & a {
    padding: 1em 0.75em; 
    color: white; 
    text-decoration: none;
  }

  & a:hover,
  & a:focus {
    background-color: $brand2_l1;
  }

  & a.active {
    // background-color: #5e1e12;
    background-color: $brand1;
  }
  
}

.content-box {
  overflow: hidden; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  position: relative;
  z-index: 0;
}

.tab-content {
  @include trans(800ms);
  /* -webkit-transition: 800ms ease-in-out;*/
  /* transition: 800ms ease-in-out;*/
  width: 100%;

  & h2 {
    text-align: center;
    width: 100%;
  }
}

.tab-bottom {
  /* transform: translate(-110%, 0); // Slide in from left*/
  /* transform: translate(110%, 0); // Slide in from right*/
  // -webkit-transform: translate(0%, -100%);
  //         transform: translate(0%, -100%); /* Slide in from top*/
  opacity: 0;
  height: 0; 
  visibility: hidden; 
  overflow: hidden;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.tab-top {
  // -webkit-transform: translate(0%, 0);
  //         transform: translate(0%, 0); 
  opacity: 1;
  height: auto; 
  visibility: visible;
}

@media only screen and (min-width: 500px)  {

  .ftr-nav-area .tabgroup a {
    padding: 1em 1.5em;
  }

}


@include mq(momma)  {

  .ftr-nav-area {

    & .tabgroup a {
      padding: 1em 2em;
    }
  }

}

@include mq(pappa) {

  .ftr-nav-area {
  }

}


@include mq(pappa) {

  .ftr-nav-area {
  }

}


