$body: #F0F0F0;

$text1: #444444;
$text2: #777777;

$link: #1C2E6B;

$brand1: #6b1c56;
$brand2: #b78958;

$brand1_l1: lighten($brand1, 10%);
$brand1_l2: lighten($brand1, 20%);
$brand1_l3: lighten($brand1, 30%);

$brand1_d1: darken($brand1, 10%); 
$brand1_d2: darken($brand1, 20%); 
$brand1_d3: darken($brand1, 30%); 

$brand2_l1: lighten($brand2, 10%);
$brand2_l2: lighten($brand2, 20%);
$brand2_l3: lighten($brand2, 30%);

$brand2_d1: darken($brand2, 10%); 
$brand2_d2: darken($brand2, 20%); 
$brand2_d3: darken($brand2, 30%); 



$brand3: #58b789;

$brand3_l1: #6abf96;
$brand3_l2: #7cc6a2;
$brand3_l3: #8dceaf;

$brand3_d1: #4aac7c;
$brand3_d2: #429a6f;
$brand3_d3: #3b8862;

$gray_m:    #AAAAAA;

$gray: $gray_m;

$gray_l:    lighten($gray, 10%);
$gray_ll:   lighten($gray, 20%);
$gray_lll:  lighten($gray, 30%);

$gray_d:    darken($gray, 10%);
$gray_dd:   darken($gray, 20%);
$gray_ddd:  darken($gray, 30%);


$alert:     #A0002E;

$green: #429A6F;

$green_l1: lighten($green, 10%);
$green_l2: lighten($green, 20%);
$green_l3: lighten($green, 30%);

$green_d1: darken($green, 10%); 
$green_d2: darken($green, 20%); 
$green_d3: darken($green, 30%); 


$fb_brand1: #3b5998;  // facebook
$tw_brand1: #1da1f2;  // twitter
$ms_brand_1: #0084ff; // messenger

$crlBrand2: #4e5f6d;
