$text1: #444444;
$text2: #777777;

$brand1: #6b1c56;

// Shades: http://www.color-hex.com/color/6b1c2e

$brand1_d1: #571746;
$brand1_d2: #431136;
$brand1_d3: #2e0c25;

$brand1_l1: #7f2166;
$brand1_l2: #932776;
$brand1_l3: #a82c87;

$brand2:    #b78958;

$brand2_l1: #bf966a;
$brand2_l2: #c6a27c;
$brand2_l3: #ceaf8d;

$brand2_d1: #ac7c4a;
$brand2_d2: #9a6f42;
$brand2_d3: #88623b;


$brand3: #58b789;

$brand3_l1: #6abf96;
$brand3_l2: #7cc6a2;
$brand3_l3: #8dceaf;

$brand3_d1: #4aac7c;
$brand3_d2: #429a6f;
$brand3_d3: #3b8862;


$gray_ddd:  #333333;
$gray_dd:   #777777;
$gray_d:    #999999;
$gray_m:    #AAAAAA;
$gray_l:    #CCCCCC;
$gray_ll:   #EEEEEE;


$alert:     #A0002E;


$green_m:   #58b789;


$fb_brand1: #3b5998;  // facebook
$tw_brand1: #1da1f2;  // twitter
$ms_brand_1: #0084ff; // messenger


$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$body: #F0F0F0;