.validation_error {
  color: $alert;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  background: yellow;
  padding: 0.25em 0.5em;
}

.validation_message {
  color: $alert;
  font-style: italic;
}

.gform_confirmation_wrapper {
  
  margin-bottom: 1.5em;

  & .button {
    padding: 1.5em;

    & .icon {
      @include square(3em);
    }
  }

  & .brand1 {
    font-family: $main_ff;
    font-weight: bold;
    background-color: $brand2;
    @include square(1.5em);
    display: inline-block;
    border-radius: 100%;
    font-size: 1em;
    text-align: center;
    line-height: 1.5em;
  }


}

