.white-bg .card {
  background: url($xv) $body;
}

.card .block-link {

    display: -ms-flexbox;

    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;

}

.card-site .flash {
  background-color: $alert;
  color: white;
  font-weight: bold;
  padding: 0.25em 0.5em;
}

.card .entry-footer {
  padding: 1em;

  .flexbox & {margin-top: auto;}
}

.card .entry-meta {

  border-top: dotted 1px $gray_m;
  padding-top: 1em;
  display: block;

  & li {

  padding-left: 1.25em;
  margin-right: 1.25em;

    & .icon {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -0.5em;
      color: $brand1;
    }
  }

}



.read-on {
  color: $brand1;
  font-weight: bold;
  font-style: italic;
}

.spec-box {

  padding: 1em;

  & .columns {
    padding: 0;
  }

  & .headline {
    margin-top: 0;
  } 

  & .wp-post-image {
    margin-bottom: 1em;
  }

  & .post-content *:last-child{
    margin-bottom: 0;
  }
}

@include mq(momma) {

  .spec-box {

    padding: 2em;

    & .wp-post-image {
      margin-bottom: 0;
    }

    & .post-content {
      padding-left: 2em;
    }
  }

}