@import "defer-slick1";

// Default Variables


$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: $brand2;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}


/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
  opacity: 0;
  position: absolute;
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 1.5em;
}

.slick-dots {
  opacity: 0;
  position: absolute;
}






































/* Slider */

.slick-slider {
  // box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}
.slick-list {
  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}



.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {

  &.dragging img {
    pointer-events: none;
  }

}



.slick-prev,
.slick-next {
  opacity: 1;
  background: $brand2;
  border: solid 1px white;
  position: absolute;
  bottom: -1em;
  display: block;
  @include square(1.5em);
  line-height: 1.5em;
  font-size: inherit;
  cursor: pointer;
  color: white;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  outline: none;
  &:hover, &:focus {
      outline: none;
      background: $brand1;
  }

}

.slick-prev {
  left: 1em;
}

.slick-next {
  right: 1em;
}

.slick-buttons .icon {
  position: relative;
  top: -0.1em;
  @include square(1em);
}

/* Dots */


.slick-initialized .slick-dots {
  opacity: 1;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: calc(100% - 4.5em);
  position: relative;
  
  & li {
      position: relative;
      display: inline-block;
      @include square(0.5em);
      margin: 0 0.5em;
      padding: 0;
      cursor: pointer;

      button {
          border: 0;
          background: $brand2;
          display: block;
          @include square(0.5em);
          border-radius: 100%;
          outline: none;
          line-height: 0px;
          font-size: 0px;
          padding: 5px;
          cursor: pointer;
          &:hover, &:focus {
              outline: none;
          }
          
      }

    &.slick-active button {
      background: $brand1;
    }

      
  }
}


@include mq(toddler) {

  .slick-prev,
  .slick-next {
    bottom: auto;
    top: calc(50% - 1.5em);
    z-index: 1;
    height: 6em;
  }

  .slick-prev {
    left: 0.5em;
  }

  .slick-next {
    right: 0.5em;
  }

}

@include mq(grampa) {

  .slick-prev {
    left: -2em;
  }

  .slick-next {
    right: -2em;
  }
}
