$show: dotted 2px cyan;

// Resets

#dh_site_metabox .dh-mb .cmb-row,
#dh_area_metabox .dh-mb .cmb-row {padding-top: 0; padding-bottom: 0;}

#dh_site_metabox .dh-mb .cmb-row {border: none;}
#dh_site_metabox.cmb2-postbox .cmb-th,
#dh_site_metabox.cmb2-postbox .cmb-td,
#dh_area_metabox.cmb2-postbox .cmb-th,
#dh_area_metabox.cmb2-postbox .cmb-td {
    width: 100%;
    float: none;
}

#dh_site_metabox .cmb2-wrap input[type="text"],
#dh_area_metabox .cmb2-wrap input[type="text"] {
  width: 100%;
}

#dh_site_metabox .cmb2-wrap input.cmb2-text-small,
#dh_area_metabox .cmb2-wrap input.cmb2-text-small {
  max-width: 100px;
}

#dh_site_metabox .cmb2-wrap input.cmb2-text-medium,
#dh_area_metabox .cmb2-wrap input.cmb2-text-medium {
  max-width: 230px;
}

#dh_site_metabox .cmb2-wrap .cmb-type-text-url input.cmb2-text-medium,
#dh_area_metabox .cmb2-wrap .cmb-type-text-url input.cmb2-text-medium {
  max-width: 100%;
}


// Lets Go!


.dh-mb  .postbox.cmb-row.cmb-repeatable-grouping {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.dh-mb .cmb-repeat {
  padding: 1em !important;
  margin: 0 0 1.5em;
  max-width: 100%;
  border: solid 1px #AAA !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
}



.dh-mb .row,
.dh-mb .cmb-repeatable-grouping .cmb-field-list {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  align-items: flex-end;
}

.dh-mb .cmb-repeatable-grouping .cmb-field-list {
  align-items: flex-start;
  justify-content: space-between;

  & .cmb-remove-field-row {
    align-self: center;
  }
}



.dh-mb .row .columns {padding: 0 1em; box-sizing: border-box;}
.dh-mb .row .columns:first-child {padding-left: 0em;}
.dh-mb .row .columns:last-child {padding-right: 0em;}

.dh-mb .four {flex: 0 0 33.333%;}
.dh-mb .six {flex: 0 0 50%;}
.dh-mb .eight {flex: 0 0 66.666%;}

.dh-mb .ntm {margin-top: 0;}

.dh-mb .dh-mb-full-width input {width: 100%;}

.dh-mb span.cmb2-metabox-description {display: block; font-size: 0.9em; margin-top: 0.25em;}


.mb-ftr-section {background-color: #ECECEC; padding: 1em; margin-bottom: 1.5em;}


.dh-mb .cmb-inline li {width: 40%;}


// .cmb2-id-dh-site-thumb .cmb-td {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
// }

// .cmb2-id-dh-site-thumb .cmb-td input {order: 1;}
// .cmb2-id-dh-site-thumb .cmb-td .cmb2-media-status {order: 0;}
// .cmb2-id-dh-site-thumb .cmb-td .cmb2-upload-file {color: #AAA;}
// .cmb2-id-dh-site-thumb .cmb-td .cmb2-media-status img {margin-top: 0;}
// .cmb2-id-dh-site-thumb .cmb2-media-status .img-status .cmb2-remove-file-button {
//     top: auto;
//     bottom: 0;
//     left: 67px;
// }

#dh_site_metabox .cmb-type-file .cmb-td,
#dh_area_metabox .cmb-type-file .cmb-td { 
  display: flex; align-items: center; justify-content: flex-start; padding-top: 0.5em;}

// #dh_site_metabox .cmb2-wrap input.cmb2-upload-file {
//     width: auto;
// }


#dh_site_metabox .cmb-type-file .cmb-td input,
#dh_area_metabox .cmb-type-file .cmb-td input {order: 1;}
#dh_site_metabox .cmb-type-file .cmb-td .cmb2-media-status,
#dh_area_metabox .cmb-type-file .cmb-td .cmb2-media-status {order: 0;}
#dh_site_metabox .cmb-type-file .cmb-td .cmb2-upload-file,
#dh_area_metabox .cmb-type-file .cmb-td .cmb2-upload-file {color: #AAA;}
#dh_site_metabox .cmb-type-file .cmb-td .cmb2-media-status img,
#dh_area_metabox .cmb-type-file .cmb-td .cmb2-media-status img {margin-top: 0;}
#dh_site_metabox .cmb-type-file .cmb2-media-status .img-status .cmb2-remove-file-button,
#dh_area_metabox .cmb-type-file .cmb2-media-status .img-status .cmb2-remove-file-button {
    top: -8px;
    left: -8px;
}



.dh-mb #site-name {font-size: 1.5em;}

#dh_plot_avail_repeat .cmb2-metabox-description,
#dh_area_picks_repeat .cmb2-metabox-description,
#dh_area_schools_repeat .cmb2-metabox-description {
  margin: 0;
  color: #222;
  padding: 0;
  font-style: normal;
  font-size: 1.25em;
}

#dh_site_metabox .area-options  {
  align-items: flex-start;
  margin-bottom: 2em;
}



