@import "../-variables/variables-site";

.content-area {
  background-color: white;
}

.blog .content-area {
  background-color: transparent;
}

// .card {max-width: 72rem;}

.post {
  margin: 0 auto 1.5em;
  display: flex;
  flex-direction: column;
  max-width: 72rem;
}

.card-social {

  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;

  & a.block-link {
    align-items: center; 
    justify-content: center; 
    padding: 2em; 
    text-align: center;
  }

  & .dh-svg {
    width: 7em; 
    height: 7em; 
    display: inline-flex;
  }

  & .dh-svg svg { 
    width: 100%; 
    height: 100%;
  }

  & h5 {
    color: white; 
    text-align: center; 
    margin-top: 2em;
  }

  & .fb-cta {
    width: 66%;
    max-width: 16em;
    display: inline-block;
  }

}


// .hentry {
//   margin: 0 auto 1.5em;
//   display: flex;
//   flex-direction: column;
// }

.post-results .card   {order: 10;}
.post-results .card-1 {order: 1;}
.post-results .card-2 {order: 2;}
.post-results .card-3 {order: 3;}
.post-results .card-4 {order: 4;}
.post-results .card-5 {order: 5;}
.post-results .card-6 {order: 6;}
.post-results .card-7 {order: 7;}
.post-results .card-8 {order: 8;}
.post-results .card-9 {order: 9;}
.post-results .card-10 {order: 10;}
.post-results .card-11 {order: 11;}
.post-results .card-11 {order: 12;}

.post-results .card-facebook  {order: 2;}
.post-results .card-instagram   {order: 5;}
.post-results .card-twitter {order: 11;}

.post-results .card-subscribe {order: 8;}

.post-results .card a {
  background-color: white;
  border-color: $gray_l;
  flex: 1;
}

.post-results .card-facebook a {
  background-color: $fb_brand1; 
  color: white;
}

.post-results .card-twitter a {
  background-color: $tw_brand1; 
  color: white;
}

.post-results .card-subscribe {

  text-align: center;
  
  & a {
    background-color: $brand1; 
    color: white;
  }

}

.post-results .entry-title {
  margin: 0;
}

.post-results .entry-footer {
  border-top: dotted 1px $gray_l;
  padding-top: 1em;
  color: $text2;
}

.read-on {
  color: $brand2;
}


.posts-navigation {
  order: 1000;
}

@media only screen and (min-width:500px) {

  .post-results {
    flex-direction: row; 
    flex-wrap: wrap; 
    padding: 0 1em;
  }

  .post-results .card {

    flex: 0 0 50%; 
    padding: 0.5em;
    margin: 0;

    & a {
      height: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.2);

    }

    & a:hover,
      a:focus {

        transform: scale(1.0225,1.0225);
        box-shadow: 0 2em 2em rgba(0, 0, 0, 0.1);

      }

    & .entry-content.aside {
      font-size: 0.9em;
      flex-grow: 1;

    }

    & .featured-image {
      margin-top: 0;
    }

  }

  .post-results .card-1 {

    flex: 0 0 100%; 

    & .entry-title {
      font-size: 1.65em;
    }

    & .entry-content.aside {
      font-size: 1em;
    }
  }


  .post-results .card-facebook  {order: 2;}
  .post-results .card-subscribe {order: 4;}
  .post-results .card-instagram {order: 8;}
  

}


@media only screen and (min-width:730px) {

  .post-results .card { flex: 0 0 33.3333%; }
  .post-results .card-1 {flex: 0 0 66.6666%; }
  .post-results .card-instagram {order: 8;}
  .post-results .card-twitter {order: 12;}

}

@media only screen and (min-width:730px) and (max-width:1299px) {
  .post-results .card-subscribe {
    order: 7;
    flex: 0 0 100%;
    max-width: 100%;
  } 
}


@media only screen and (min-width:1300px) {

  .post-results .card {
    flex: 0 0 25%;

    & .entry-meta .avatar {
      flex: 1 0 auto;
    }

  }

  .post-results .card-1 {flex: 0 0 50%;}
  .post-results .card-subscribe {order: 5;}
}

@import "crit_posts_and_pages";
@import "crit_posts_single";