@import "../-variables/variables-site";

/* Text meant only for screen readers. */
.screen-reader-text { 
  clip: rect(1px, 1px, 1px, 1px); 
  position: absolute !important; 
  height: 1px; 
  width: 1px; 
  overflow: hidden;

  &:focus {
    background-color: #EEE;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: $text2;
    display: block;
    font-size: 80%;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.ntm {
  margin-top: 0;
}
.nbm {
  margin-bottom: 0;
}
.ilb {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.brand1 {
  color: $brand1;
}

.box {

  padding: 1em;
  
    & *:first-child {
      margin-top: 0;
    }
    & *:last-child {
      margin-bottom: 0;
    }

    &.xv {
      border: solid 1px $gray_l;
    }

}

.frame {
  border: solid 5px #F5F5F5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.xv .call-out {
  background-color: $brand2_l1;
  color: $gray_ll;
  padding: 0.5em; 
  border: solid 1px $brand2;

  &:last-child {
    margin-bottom: 0;
  }
}

.xv .frame,
.xv.frame {
  border-color: white;
}

.dh-branded {
  font-family: 'times new roman', serif;
  font-size: 1.25em;
  line-height: inherit;
  & .damson {color: $brand1;}
  & .homes {color: $brand2;}
}


.video-thumb {
  position: relative;
  display: block;

  & .icon {
    background-color: $brand1;
    width: 4.5em;
    height: 2.5em;
    padding: 0.5em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.25em;
    margin-left: -2.25em;
    border-radius: 2px;
    color: white;
    border: solid 1px $brand1_d2;
  }

  &:hover,
  &:focus {
    & .icon {
      background-color: $brand1_d2;
      border-color: $brand1_d2;
    }
  }

}



@media only screen and (min-width:768px) {

  .box {padding: 1.5em;}
  
}

@media only screen and (min-width:1300px) {

  .box {padding: 2em;}
  
}