
.container {

  display: block;
  display: flex;
  flex-direction: column;
  width: 100%; 
  margin: 0 auto; 
  padding: 0 1em;

}

.hero-area,
.content-area {padding-top: 2em; padding-bottom: 2em;}

.blog .content-area {padding-top: 0em;}


// @media #{$bear_lil_sis} { .page {max-width: 460px;}}

@media only screen and (min-width:500px) {

  .container {

    padding: 0 2em;

  }


}

@include mq(momma) {

  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content-area {
    padding-top: 4em; 
    padding-bottom: 4em;
  }

  .hero-area,
  .sans-hero .content-area {
    padding-top: 6em; 
    padding-bottom: 2em;
  }

  .blog .content-area {
    padding-top: 2em; 
    padding-bottom: 4em;
  }

}

@media only screen and (min-width:900px) {


}

@include mq(pappa) {

  .container {
    max-width: 960px;
  }

}

@include mq(grampa) {

  .container {
    max-width: 1200px;
  }

  .hero-area,
  .content-area {
    padding-top: 8em; 
    padding-bottom: 2em;
  }

  .sans-hero .content-area {
    padding-top: 8em; 
    padding-bottom: 2em;
  }

  .blog .content-area {
    padding-top: 2em; 
    padding-bottom: 2em;
  }

}

@media only screen and (min-width:2000px) {

  .container {
    max-width: 1600px;
  }

}

// @media only screen and (min-width:2400px) {

//   .container {
//     max-width: 1800px;
//   }

// }