@import "../-variables/variables-site";

// http://type-scale.com/

// Typography Scale: 1.12 (Minor Third)

body {font-size: 1.4rem;}


p, .p, ul, ol {
  margin-top: 0; 
  margin-bottom: 1em; 
  line-height: 1.6em;
}

.aux,
p.aux {
  font-size: 0.889em;
  color: $text2;
}

h1, .h1 {
  font-size: 2.074em;
  line-height: 1.4em;
}

h2, .h2 {
  font-size: 1.728em;
  line-height: 1.4em;
}

h3, .h3 {
  font-size: 1.44em;
  line-height: 1.4em;
}

h4, .h4 {
  font-size: 1.2em;
  line-height: 1.4em;
}

h5, .h5 {
  font-size: 1rem;
  line-height: 1.35em;
}

h1, h2, h3, h4, h5, 
.h1, .h2, .h3, .h4, .h5 {
  color: $brand1; 
  margin-top: 1.5rem; 
  margin-bottom: 1rem; 
  font-family: $head_ff;
}

ul, ol {
  margin: 0 0 1rem 1.57em;
  padding: 0;
}

ul {
  
  list-style: square;

  &.no-style li {
    position: relative;
    list-style: none;

    & .icon {
      position: absolute;
      left: -1.7em;
      color: $brand1;
    }

  }

  &.reveal-list {
    margin-left: 0;
    list-style: none;
  }

}

ol {
  list-style: decimal;
}

li {
  margin-bottom: 0.5em;

  &:last-child {margin-bottom: 0;}
}


.intro {
  font-size: 1.2em; 
  font-family: $head_ff; 
  color: #222;
}

.aside,
.gfield.aside {
  font-size: 0.8em;
  color: $text2;
}

.ftr-section {
  background-color: $gray_ll; 
  padding: 1em; 
  margin-bottom: 1.5em;

  & *:first-child {margin-top: 0;}
  & *:last-child {margin-bottom: 0;}

}


@include mq(momma) {

  body {font-size: 1.4rem;}

}

@include mq(pappa) {

  body {
    font-size: 1.5rem;
  }

  // Typography Scale: 1.333 (Perfect Fourth)

  h1, .h1 {
    font-size: 2.441em; 
    line-height: 1.4em;
  }

  h2, .h2 {
    font-size: 1.953em; 
    line-height: 1.4em;
  }

  h3, .h3 {
    font-size: 1.563em; 
    line-height: 1.4em;
  }

  h4, .h4 {
    font-size: 1.25em; 
    line-height: 1.4em;
  }

  h5, .h5 {
    font-size: 1em; 
    line-height: 1.4em;
  }

}

@include mq(grampa) {

  body {
    font-size: 1.7rem;
  }

}


