html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  font: normal 62.5%/1.5em $main_ff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $body;
}

body,
button,
input,
select,
textarea {
  color: $text1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

figure {
  margin: 1.5em 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}
