/* Reveal */

.dh-reveal-wrap {
  display: block;


  & .reveal {
    color: white;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: $gray_m;
    background-image: -webkit-linear-gradient(top, $gray_m 0, $gray_d 100%);
    background-image: linear-gradient(-180deg, $gray_m 0, $gray_d 100%);
    border-bottom: solid 1px $gray_dd;
    font-family: $main_ff;
    font-weight: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-shadow: 0 -1px 0.5px rgba(0,0,0,0.25);

    &:hover, 
    &:focus {
      background-color: $gray_d;
    }

    & * {
      margin: 0;
      padding: 0;
      font-family: $main_ff;
      color: inherit;
      font-weight: inherit;
    }

  }

}