/* Text meant only for screen readers. */
.screen-reader-text, .svg { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden;

  &:focus {
    background-color: #EEE;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: $text2;
    display: block;
    font-size: 80%;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.ntm {margin-top: 0;}
.nbm {margin-bottom: 0;}

.block-link {
    text-decoration: none; 
    border: solid 1px $gray_ll;
    padding: 1em;

    &:hover,
    &:focus {
        background-color: $gray_ll;
    }
}