.entry-header {margin-bottom: 1.5em;}

.title-intro {
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
  color: $text2;
}

.entry-meta {display: flex; align-items: center;}
.entry-meta a {text-decoration: none; color: $text2;}
.entry-meta span {order: 1;}
.entry-meta .avatar {width: 2em; order: 0; margin-right: 1em; border-radius: 50%;}
.entry-meta .posted-on {padding-right: 0.5em; margin-right: 0.5em; border-right: dotted 1px $gray_l;}

@media only screen and (min-width:960px) {
  .single .entry-header,
  .single .featured-image {
    width: calc(960px - 6em);
    margin-left: -7em;
    text-align: center;
  }
}

@media only screen and (min-width:1300px) {
  .single .entry-header,
  .single .featured-image {
    width: calc(1200px - 6em);
    margin-left: -17em;
  }
}

@media only screen and (min-width:2000px) {
  .single .entry-header,
  .single .featured-image {width: calc(1600px - 6em);}
}

@media only screen and (min-width:2400px) {
  .single .entry-header,
  .single .featured-image {width: calc(2400px - 6em);}
}