@import "../variables-site/variables-site";

/* Text meant only for screen readers. */
.screen-reader-text, 
.svg { 
  clip: rect(1px, 1px, 1px, 1px); 
  position: absolute !important; 
  height: 1px; 
  width: 1px; 
  overflow: hidden;

  &:focus {
    background-color: #EEE;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: $text2;
    display: block;
    font-size: 80%;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.ntm {margin-top: 0;}
.nbm {margin-bottom: 0;}
.ilb {display: inline-block;}

.text-center {text-align: center;}

a.button {
  background-color: $text2;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border: solid 1px $text1;

  &:hover, &:focus {
    background-color: $text1;
  }
}

a.cta {
  background-color: $brand1;
  border-color: $brand1_d1;

  &:hover, &:focus {
    background-color: $brand1_d1;
  }
}

.block-link {
    text-decoration: none; 
    border: solid 1px $gray_ll;
    padding: 1em;
    color: $text1;

    &:hover,
    &:focus {
        background-color: $gray_ll;
    }
}


.box {

  padding: 1em;
  
    & *:first-child {margin-top: 0;}
    & *:last-child {margin-bottom: 0;}

    &.xv {border: solid 1px $gray_l;}

}

.frame {
  border: solid 5px #F5F5F5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.xv .frame,
.xv.frame {border-color: white;}

@media only screen and (min-width:768px) {

  .box {padding: 1.5em;}
  
}

@media only screen and (min-width:1300px) {

  .box {padding: 2em;}
  
}