.header {
  padding-top: 1em; 
  padding-bottom: 1em; 
  position: relative; 

  &.container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.site-title {

  margin: 0;
  font-size: 2rem; 
  font-family: "times new roman", serif;
  order: 2;

  & a {
    color: $brand1; 
    font-weight: normal; 
    text-transform: lowercase; 
    text-decoration: none; 
    line-height: 1;
  }

  & span.homes {
    color: $brand2;
  }

}

.dna-social-wrapper {
  opacity: 0; 
  height: 0; 
  overflow: hidden;
  order: 3;
  @include delay;
}

.dna-logo-width {
  width: 3rem; 
  margin-right: 1em; 
  order: 1;
}

.dna-logo {
  z-index: 1;
}

.dna-logo a {
  display: block; 
  padding-top: 162.602%;
  margin-top: -162.602%;
}

@media only screen and (min-width:500px) {

  .header {
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem;
  }

  .site-title {
    font-size: 2.5rem;
  }

  .dna-logo-width {
    width: 4rem;
  }

}


@include mq(momma) {

  .header {
    height: 6em; 
    justify-content: space-between;
  }

  .dna-logo-width {
    align-self: flex-start;
    width: 8rem;
    margin-right: 0;
    order: 2;
    position: absolute;
    left: calc(50% - 4rem);
    top: 2.65rem;}

}

@include mq(pappa) {

  .site-title {
    font-size: 3rem;
  }

  .dna-logo-width {
    width: 9rem;
    left: calc(50% - 4.5rem);
    top: 2.25rem;
  }
}


@include mq(grampa) {

  .header {
    height: 8em;
  }

  .site-title {
    font-size: 3.5rem;
  }

  .dna-logo-width {
    width: 11rem;
    left: calc(50% - 5.5rem);
    top: 4.6rem;
  }
}
