/* social wrapper */

.dna-social-wrapper {
  opacity: 1;
  height: auto;
  margin: 0; 
  list-style: none; 
  display: flex; 
  margin-left: auto;

  & li {margin-bottom: 0;}

    & a { 
      color: #777777; 
      display: block; 
      height: 1.8em; 
      width: 1.8em; 
      margin: 0.25em; 
      background: white;
    }
}

.dna-social-wrapper {text-align: left;}
.dna-social-wrapper li a:hover svg {opacity: 0.8;}


@media only screen and (min-width:500px) {
  .dna-social-wrapper a { height: 2em;  width: 2em;}
}

.dh-social-share-box {
  display: flex;
  justify-content: center;
  background-color: $green_m;
  padding: 0.5em 1em;
  margin-bottom: 2em;
  animation: gambole 1200ms backwards; animation-delay: 1000ms;}

.shares {opacity: 1; font-size: 1.5em; line-height: 1; margin-top: 0; margin-right: 1em; color: white; font-family: $head_ff;}

.share-buttons {display: flex; align-items: center;}
.share-btn {display: inline-flex; margin-right: 0.5em;}
.share-btn:last-child {margin-right: 0em;}
.share-cta {line-height: 1.1;}

.shares.shares-first {
  line-height: 1.5em;
}

a.share-btn {height: 2em; width: 2em; color: white;
  &:hover,
  &:focus {color: $brand1;}
}

a.share-btn-facebook {background-color: #3b5998;}
a.share-btn-twitter {background-color: #4099FF;}
a.share-btn-email {background-color: $gray_m;}


.post-results .entry-footer {
  border-top: dotted 1px $gray_l;
  padding-top: 1em;
  color: $text2;
}

.read-on {color: $brand2;}

