/* --- Damson Homes Template-Site Critical CSS --- */
@import "variables-site/variables-site";
@import "mixins/mixins-master";


.site-intro-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 1.5rem 0;

  & .site-logo {width: 5em; height: 5em; margin-right: 1em; align-self: center;}
}

.headline-wrapper {
  align-self: center;

  & h1, h3 {margin: 0;}
  & h3 {color: $text2; font-weight: normal;}
}

.site-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0 1.5em;
  padding: 1em 0;
  border: solid 1px #aaa;
  border-width: 1px 0;

  & li {
    padding: 0.25em 0.5em;
    line-height: 1em;
    margin: 0;
    display: flex;
    align-items: center;
  }

  & li:last-child {
    display: flex;
  }

  & li .dh-svg {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.5em;
  }

}

.archive-description {text-align: center;}

.hero-right img {
  border: solid 5px #F5F5F5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}


@media only screen and (min-width:600px) and (max-width:899px){

  .hero-right img {
    width: 80%;
    margin: auto;
    display: block;
  }

}




@media only screen and (min-width:900px) {

  .hero-area {padding-bottom: 3em;}

  .hero-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .site-intro-wrap {
    flex: 0 0 100%;
  
    & .site-logo {width: 8em; height: 8em; margin-right: 2em;}

  }

  .hero-left, .hero-right {
    flex: 0 0 50%; 
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .hero-left { padding-right: 1em; }

  .site-meta {order: 1; justify-content: space-between;}
  .archive-description {text-align: left;}

  .hero-right {padding-left: 1em;}

  
}


@media only screen and (min-width:1300px) {

  .site-intro-wrap {padding-top: 0;}

  .site-intro-wrap .site-logo {
    width: 10em;
    height: 10em;
  }

  .hero-left { padding-right: 2em; }
  .hero-right {padding-left: 2em;}

  .site-meta {
    font-size: 1.3em;
  }

}

@media only screen and (min-width: 1600px)  {
  .site-meta {
    justify-content: space-around;
  }
}