

/*--------------------------------------------------------------
>>> SITE TEMPLATE STYLES:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

.cta-area {background-color: $brand2; padding: 1em 0;}
.cta-box {display: flex; align-items: center; justify-content: center;}

.cta-box .site-logo {
  width: 66px;
  margin-right: 1em;
}

.hentry {
  margin: 0;

  &.tab-top {
    margin: 0 auto 1.5em;
  }

}

.tab-content.tab-top {margin-bottom: 2em;}

.tab-content h2 {text-align: center;}

@import "modules/plot-availablity";
@import "modules/spec";
@import "modules/location";
@import "modules/build_updates";


