
@import "-defer-modules/content_meta";

@import "-defer-modules/cards";

@import "-defer-modules/tabs";


.single-post {

  & .entry-footer {
    border-top: dotted 1px $gray_l;
    margin-top: 1em;
    padding-top: 1em;
  }

}

.blog-navigation {
  padding: 1em;
  border: solid 1px $gray_m;

  & h4 {
    font-style: italic;
  }

  & p {

    color: $text1;

  }

  & a {
    background: white;
    text-decoration: none;
    border: solid 1px $gray_m;
    border-radius: 2px;
    color: $brand2;
    padding: 0.275em 0.5em 0.2em;
    min-width: 7em;
    display: inline-block;

    &:hover,
    &:focus {
      background-color: $brand2;
      border-color: $brand1_d2;
      color: white;
    }

  }

  & .this-cat {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: solid 2px white;
  }
}



.fb-comments-wrap {
  border-top: solid 2px $fb_brand1;
  margin-top: 3em; 
  padding-top: 2em;
  position: relative;

  & .fb-logo {
    position: absolute;
    top: -1em;
    height: 2em;
    width: 9em;
    background: $fb_brand1;
    border-radius: 4px;
    color: white;
    line-height: 2em;

    & .icon {

      height: 2em;
      width: 2em;
      padding: 0.25em;
      display: inline-block;
    }

    & p {
      display: inline-block;
      margin: 0;
      line-height: 2em;
      position: absolute;
      left: 2.5em;
    }

  }

  &:after {
    content: "";
    position: absolute;
    top: -0.4em;
    right: 0;
    height: 0.7em;
    width: 0.7em;
    background-color: $fb_brand1;
    border-radius: 2px;
  }
}


.fb-follow-wrap {
  position: relative;
  border-top: solid 2px $fb_brand2;
  margin-top: 2em; 
  padding-top: 1.5em;

  &:after {
    content: "";
    position: absolute;
    top: -0.4em;
    right: 0;
    height: 0.7em;
    width: 0.7em;
    background-color: $fb_brand2;
    border-radius: 2px;
  }

}


@include mq(toddler) {

  .blog-navigation {

    padding-bottom: 2em;

    & .six {
      width: 50%;
      float: left;
    }

    & .this-cat {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
      border-right: solid 1px white;
    }

    & .all-cats {
      border-left: solid 1px white;
    }

  }

}


@import "-defer-modules/cta_site";


