
/* @import "-defer-modules/content_meta";*/

/* @import "-defer-modules/cards";*/

@import "-defer-modules/pagation";


@include mq(toddler) {

  .listings {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: stretch;
        align-items: stretch;
    -ms-flex-pack: center;
        justify-content: center;

    & .card {
      -ms-flex: 1 1 calc(50% - 1em);
          flex: 1 1 calc(50% - 1em);

      &.sticky {
        -ms-flex: 1 1 calc(100% - 1em);
            flex: 1 1 calc(100% - 1em);
      }
    }

    & .block-link {
      height: 100%;
    }

    & .read-on {
      color: $brand1;
      font-weight: bold;
      font-style: italic;
    }

  }

  .flexbox .listings .card {
    max-width: calc(50% - 1em);
  }

  .flexbox .listings .card.card-social {
    -ms-flex: 0 1 calc(50% - 1em);
        flex: 0 1 calc(50% - 1em);
  }

  .flexbox .listings .card.sticky {
    max-width: calc(100% - 1em);
  }

}


@include mq(goldie) {

  .listings .card {
    -ms-flex: 1 1 calc(33.333% - 1em);
        flex: 1 1 calc(33.333% - 1em);

    &.sticky {
      -ms-flex: 1 1 calc(66.667% - 1em);
          flex: 1 1 calc(66.667% - 1em);
    }
  }

  .flexbox .listings .card.card-social {
    -ms-flex: 0 1 calc(33.333% - 1em);
        flex: 0 1 calc(33.333% - 1em);
  }

}


@include mq(grampa) {

  .listings .card {
    -ms-flex: 1 1 calc(25% - 1em);
        flex: 1 1 calc(25% - 1em);

    &.sticky {
      -ms-flex: 1 1 calc(50% - 1em);
          flex: 1 1 calc(50% - 1em);
    }
  }

  .flexbox .listings .card.card-social {
    -ms-flex: 0 1 calc(25% - 1em);
        flex: 0 1 calc(25% - 1em);
  }

}


.card-social {

  width: 100%;
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 1.5em;

  & a.block-link {
    -ms-flex-align: center;
        align-items: center; 
    -ms-flex-pack: center; 
        justify-content: center; 
    padding: 2em; 
    text-align: center;
    border-width: 0;
  }

  & .dh-svg {
    width: 7em; 
    height: 7em; 
    display: -ms-inline-flexbox; 
    display: inline-flex;
  }

  & .dh-svg svg { 
    width: 100%; 
    height: 100%;
  }

  & h5 {
    color: white; 
    text-align: center; 
    margin-top: 2em;
  }

  & .fb-cta {
    width: 66%;
    max-width: 16em;
    display: inline-block;
  }

}


.listings .card   {-ms-flex-order: 10;order: 10;}
.listings .card-1 {-ms-flex-order: 1;order: 1;}
.listings .card-2 {-ms-flex-order: 2;order: 2;}
.listings .card-3 {-ms-flex-order: 3;order: 3;}
.listings .card-4 {-ms-flex-order: 4;order: 4;}
.listings .card-5 {-ms-flex-order: 5;order: 5;}
.listings .card-6 {-ms-flex-order: 6;order: 6;}
.listings .card-7 {-ms-flex-order: 7;order: 7;}
.listings .card-8 {-ms-flex-order: 8;order: 8;}
.listings .card-9 {-ms-flex-order: 9;order: 9;}
.listings .card-10 {-ms-flex-order: 10;order: 10;}
.listings .card-11 {-ms-flex-order: 11;order: 11;}
.listings .card-11 {-ms-flex-order: 12;order: 12;}

.listings .card-facebook  {-ms-flex-order: 2;order: 2;}
.listings .card-instagram   {-ms-flex-order: 5;order: 5;}
.listings .card-twitter {-ms-flex-order: 11;order: 11;}

.listings .card-subscribe {-ms-flex-order: 8;order: 8;}


.card-facebook a.block-link {
  background-color: $fb_brand1; 
  color: white;
}

.card-twitter a.block-link {
  background-color: $tw_brand1; 
  color: white;
}

.card-twitter h5,
.card-instagram h5 {line-height: 2.5em;}

.card-instagram a.block-link {
  background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);}

.card-subscribe {

  text-align: center;
  
  & a.block-link {
    background-color: $brand1; 
    color: white;
  }

}


.card-social.visible {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  opacity: 1;

}


#say_hello {
  color: $brand1_d3;
  -webkit-animation-name: jackInTheBox;
          animation-name: jackInTheBox;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms
}

