.footer-area {
  padding: 2em 0;
}


.footer {

  
  padding-top: 2em;

  & ul {
    margin: 0 0 1em;
  }

  & a {
    color: $text2;
    text-decoration: none;
    @include trans;
    border-bottom: dotted 1px transparent;

    &:hover,
    &:focus {
      padding-left: 0.5em;
      border-bottom-color: $gray_m;
    }
  }
}

.dna-credits-box {
  border-top: dotted 1px $gray_l;
  padding-top: 2em;
  color: $text1;
}

.dna-copyright-date {color: $brand1;}

@include mq(momma) {

  .dna-studio-link {
    text-align: right;

    a {
      color: $text2;
    }
  }

}

@include mq(pappa) {
  .footer li {
    margin-bottom: 0;
  }
}