.xv,
.ftr-section {
  background-image: url($xv);
  background-repeat: repeat;
}

.graphy {
  background-image: url($graphy);
}

.hide-critical {
  opacity: 1;
}


.video-thumb {
  -webkit-box-shadow: $shadow_small;
          box-shadow: $shadow_small;
  position: relative;

  & .play-button {

    -webkit-animation-duration: 750ms;

            animation-duration: 750ms;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
    -webkit-animation-delay: 1500ms;
            animation-delay: 1500ms;

    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2.5em;
    width: 4em;
    margin: -1.75em 0 0 -2em;
    background-color: $brand1;
    color: white;
    border-radius: 3px;
    border: solid 1px white;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(22%, #6D0202), color-stop(61%, rgb(201, 0, 0)));
    background-image: linear-gradient(bottom, #6D0202 22%, rgb(201, 0, 0) 61%);
    border-radius: 50% / 11%;
    -webkit-box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.67);
            box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.67);
    @include trans;

    & .icon {
      height: 1.25em;
      width: 1.25em;
      margin-top: 0.55em;
      margin-left: 1.45em;
    }

  } 

  &:hover .play-button,
  &:focus .play-button {
    
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.7);
    
            box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.7);
    margin-top: -1.65em;

  }


}
